@model Hashdji.Software.Shop.Models.NavigationViewModels.TopMenuViewModel

<div class="tr-menu">
    <nav class="navbar navbar-toggleable-md">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="hidden-md-up">
                <a class="navbar-brand" href="/"><img class="img-fluid" src="@Url.Content(Model.Logo.Url)" alt="@Model.Logo.Alt"></a>
            </div>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav hidden-md-down">
                    @foreach (var item in Model.MenuItems)
                    {
                        if (item.Position.ToLower() != "left")
                        {
                            continue;
                        }
                        <li class="nav-item tr-dropdown">

                            @if (item.Children != null && item.Children.Any())
                            {
                                <a class="nav-link" href="#">Home</a>
                                <ul class="tr-dropdown-menu dropdown-left">
                                    @foreach (var subMenuItem in item.Children)
                                    {
                                        <li class="nav-item"><a class="nav-link" href="@subMenuItem.Url">@subMenuItem.Title</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a class="nav-link" href="@item.Url">@item.Title</a>
                            }
                        </li>
                    }
                    <li class="tr-middle-logo">
                        <a class="navbar-brand" href="/">
                            <img class="img-fluid" src="@Url.Content(Model.Logo.Url)" alt="@Model.Logo.Alt">
                        </a>
                    </li>
                    @foreach (var item in Model.MenuItems)
                    {
                        if (item.Position.ToLower() != "right")
                        {
                            continue;
                        }
                        <li class="nav-item tr-dropdown">

                            @if (item.Children != null && item.Children.Any())
                            {
                                <a class="nav-link" href="#">@item.Title</a>
                                <ul class="tr-dropdown-menu">
                                    @foreach (var subMenuItem in item.Children)
                                    {
                                        <li class="nav-item"><a class="nav-link" href="@subMenuItem.Url">@subMenuItem.Title</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a class="nav-link" href="@item.Url">@item.Title</a>
                            }
                        </li>
                    }
                </ul>
                <ul class="navbar-nav hidden-md-up">
                    @foreach (var item in Model.MenuItems)
                    {
                        <li class="nav-item tr-dropdown">
                            @if (item.Children != null && item.Children.Any())
                            {
                                <a class="nav-link" href="#">@item.Title</a>
                                <ul class="tr-dropdown-menu dropdown-left">
                                    @foreach (var subMenuItem in item.Children)
                                    {
                                        <li class="nav-item"><a class="nav-link" href="@subMenuItem.Url">@subMenuItem.Title</a></li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a class="nav-link" href="@item.Url">@item.Title</a>
                            }
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->

            <div class="find-option float-right">
                <ul class="global-list">
                    <li class="tr-search">
                        <div class="search-icon"><span class="icon icon-magnifying-glass"></span></div>
                        <div class="search-form">
                            <form action="#" id="search" method="get">
                                <input id="inputhead" name="search" type="text" placeholder="Type Your Words & Press Enter">
                                <button type="submit"><span class="icon icon-magnifying-glass"></span></button>
                            </form><!-- /form -->
                        </div><!-- /s form -->
                    </li>
                    <li class="cart-content tr-dropdown">
                        <a href="#"><span class="icon icon-shopping-basket"></span> <span class="cart-number">3</span></a>
                        <div class="tr-dropdown-menu">
                            <ul class="global-list">
                                <li class="remove-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="product">
                                        <a href="details.html">
                                            <span class="product-image">
                                                <img src="~/images/product/1.jpg" alt="Image" class="img-fluid">
                                            </span>
                                            <span class="product-title">Organic <strong>Cabbage</strong></span>
                                            <span class="price"><del>$15.00</del>$12.00</span>
                                        </a>
                                    </div><!-- /.product -->
                                </li>
                                <li class="remove-item">
                                    <span class="remove-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    <div class="product">
                                        <a href="details.html">
                                            <span class="product-image">
                                                <img src="~/images/product/1.jpg" alt="Image" class="img-fluid">
                                            </span>
                                            <span class="product-title">Organic <strong>Cabbage</strong></span>
                                            <span class="price"><del>$15.00</del>$12.00</span>
                                        </a>
                                    </div><!-- /.product -->
                                </li>
                            </ul>
                            <div class="total-price">
                                <span><strong>Total Price: </strong>$598:00</span>
                            </div>
                            <div class="buttons">
                                <a class="btn btn-primary cart-button" href="shopping-cart.html">View Cart</a>
                                <a class="btn btn-primary" href="#">Checkout</a>
                            </div>
                        </div><!-- /.tr-dropdown-menu -->
                    </li>
                </ul>
            </div><!-- /.find-option -->

        </div><!-- /.container -->
    </nav>
</div><!-- /.tr-menu -->